package views

import "github.com/Francesco99975/qbittal/internal/models"
import "github.com/Francesco99975/qbittal/views/layouts"

templ Index(site models.Site) {
	@layouts.CoreHTML(site) {
		<main class="flex flex-col w-full justify-center items-center min-h-[100vh]">
			<h1 class="text-2xl text-primary font-bold my-2">Hello GO+HTMX</h1>
		</main>
	}
}
